@import "fonts";
body {
  font-family: "Roboto", sans-serif;
  color: #34495e;
  font-size: 17px;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
.main {
  padding-top: 100px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0;
  &__link {
    font-size: 15px;
    font-weight: 500;
    color: #019fff;
    text-transform: uppercase;
    cursor: pointer;
    margin: 0 20px;
  }
}
.logo {
  img {
    width: 70px;
  }
}
.title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}
.line {
  position: relative;
  width: 70px;
  height: 2px;
  background-color: #019fff;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
}
.main-screen {
  display: flex;
}
.slider {
  width: 60%;
  position: relative;
  min-width: 0;
  &__item img {
    max-width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slick-track {
    display: flex;
  }
  .slick-list {
    overflow: hidden;
  }
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    &:hover {
      border: 1px solid #019fff;
      box-shadow: 0 0 1px 1px #019fff;
    }
  }
  .slick-prev {
    left: 0;
    background: url("../img/slider/arrows/arrow-left.png") 0 0/100% no-repeat;
  }
  .slick-next {
    background: url("../img/slider/arrows/arrow-right.png") 0 0/100% no-repeat;
    right: 0;
  }
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      margin: 0 5px;
    }
    button {
      font-size: 0;
      width: 10px;
      height: 10px;
      background-color: #34495e;
      border-radius: 50%;
    }
  }
  .slick-active {
    button {
      background-color: transparent;
      border: 1px solid #34495e;
    }
  }
}
.price {
  width: 47%;
  padding-left: 20px;
  font-size: 24px;
  span {
    font-size: 30px;
    font-weight: 500;
  }
  b {
    display: block;
    margin: 20px 0 15px;
    font-size: 19px;
  }
  &__list {
    font-size: 17px;
    li:before {
      content: "";
      vertical-align: middle;
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: #34495e;
      border-radius: 50%;
    }
  }

  &__link {
    margin-bottom: 20px;
    line-height: 24px;
  }
}
.description {
  padding-top: 75px;
  &__list {
    margin-bottom: 20px;
    li:before {
      content: "";
      vertical-align: middle;
      display: inline-block;
      width: 5px;
      height: 5px;
      background-color: #34495e;
      border-radius: 50%;
    }
  }

  &__item {
    margin-bottom: 13px;
    font-size: 20px;
  }
  &__text {
    line-height: 22px;
    p {
      margin-bottom: 20px;
    }
  }
}
.characteristics {
  padding: 75px 0 30px;
  &__item {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 15px;
  }
}

@import "media";
